@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: #ffffff;
  --foreground: #373737;

  --primary: #373737;
  --primary-foreground: #ffffff;

  --accent: #dbf227;
  --accent-foreground: #373737;

  --muted: #f4f4f5;
  --muted-foreground: #737373;

  --border: #e4e4e7;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  min-height: 100vh;
  font-feature-settings:
    "rlig" 1,
    "calt" 1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
