@import "tailwindcss";
@plugin "tailwindcss-animate";

:root {
  --background: #0f172a;
  --foreground: #f8fafc;
}

body {
  background: radial-gradient(circle at top center, #1e293b, #0f172a);
  color: var(--foreground);
  min-height: 100vh;
}
